@media(max-width: 992px){
    .container{
        max-width: 720px;
    }
    .hero-title{
        font-size: 44px;
    }
    .hero-desc{
        font-size: 21px;
    }
    .btn{
        font-size: 17px;
    }

    .about-us-title{
        font-size: 31px;
        margin-bottom: 18px;

    }
    .about-us-news {
        line-height: 21px;
        margin-bottom: 22px;
        font-size: 16px;
    }
    .about-icon{
        width: 57px;
        height: 57px;
    }
    .about-us-subtitle{
        margin-left: 67px;
        font-size: 19px;
    }
    .about-us-desc {
        margin: 0px 0 30px 67px;
        line-height: 22px;
        font-size: 16px;
    }

    .section-title {
        font-size: 31px;
    }
    .section-description {
        margin-bottom: 31px;
        font-size: 19px;
    }
    .facts-number{
        font-size: 33px;
    }
    .facts-title{
        font-size: 20px;
    }
    .contact-form {
        font-size: 16px;
    }
    .address-btn {
        padding: 8px 22px;
        font-size: 18px;
    }
    .contact-address-desc {
        font-size: 16px;
    }

    .icon-bx-map{
        margin-left: 4px;
    }
    .contact-social{
        padding: 17px 0;
    }
    .twitter-contact{
        width: 35px;
        height: 35px;
    }
    .facebook-contact{
        width: 35px;
        height: 35px;
    }
    .instagram-contact{
        width: 35px;
        height: 35px;
    }
    .linkedin-contact{
        width: 35px;
        height: 35px;
    }
    .footer-caption{
        font-size: 17px;
    }
    .portfolio-all{
        padding: 13px 16px 12px 16px;
        font-size: 18px;
    }
    .portfolio-app{
        padding: 13px 16px 12px 16px;
        font-size: 18px;
    }
    .portfolio-card{
        padding: 13px 16px 12px 16px;
        font-size: 18px;
    }
    .portfolio-web{
        padding: 13px 16px 12px 16px;
        font-size: 18px;
    }
    .call-to-action-news {
        font-size: 20px;
    }
    .call-to-action-btn {
        font-size: 13px;
        padding: 11px 19px;
        margin: 62px 15px;

    }
    .call-to-action{
        padding: 70px 0;
    }
    .services-subtitle {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .services-desc{
        font-size: 16px;
    }









}